body {
    background-color: #D6D2CF;
}

.container {                    /* 전체 화면의 크기 마진 그리고 글자정렬 */
    width: 700px;
    margin: 0 auto;
    text-align: center;
}
h1{
    color:#454140;
}

#result{
    color:#76978a;
}
.main {                         /* 첫번째 버튼 */
    display: flex;
}

.btn1{
    width:30px;
    height: 30px;
}

.btn2{
    width:30px;
    height: 30px;
}

/* .main div {                     
    flex:1;
} */

