<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car IoT</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='drive.css') }}"> <!-- css 파일 지정-->
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
 <script>
     
       

 </script>
</head>
<body>
    <div class="contaioner">
      <a href="http://www.naver.com" onclick="location.href='pro';return false;"> <!--return false :: onClick 이벤트 뒤에 return false 를 해주면 href 이벤트가 작동하지 않는다. -->
        <img src="https://ifh.cc/g/JDenSj.png"/></a>  
    </div>

    <div class="main">
      <img class="mid" id="l" src="https://ifh.cc/g/5ozvDu.png">
      <div class="mid">

      </div>
      <img class="mid" id="r" src="https://ifh.cc/g/ilKSBj.png">
    </div>

    <div class="handle">
      <div class="gear">
        <a class="gear" href="http://www.naver.com" onclick="setInterval();return false;"> <!--return false :: onClick 이벤트 뒤에 return false 를 해주면 href 이벤트가 작동하지 않는다. -->
          <img src="https://ifh.cc/g/5bxoX9.png"/></a> 
        <br>
        <p class="gear">PUSH</p>
      </div>
      <div class="gear">
        <h1 id="gear">P</h1>
        <br>
        <h1 id="gear">R</h1>
        <br>
        <h1 id="gear">N</h1>
        <br>
        <h1 id="gear">D</h1>

      </div>
    </div>
    <script>
      var r= document.getElementById('r');
      var l= document.getElementById('l');
      setInterval(function gear(){     //기어
          fetch("/gear")                                                    /* 해당 경로 파일을 실행 */
          .then(response=> { console.log(response); return response.text()})
          .then(data=> {
              console.log(data);
              alert(data);    
              // if("r" in data){
              //   r.src= 'https://ifh.cc/g/dnwkIV.png';
              // }
              // if("l" in data){
              //   l.src= 'https://ifh.cc/g/4qSzCX.png';
              // }
              
          });
        },1000/20);
      
  </script>
</body>
</html>