<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car IoT</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='drive.css') }}"> <!-- css 파일 지정-->
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
 <script>
     
       
 </script>
</head>
<body>
    <div class="contaioner">
      <a href="http://www.naver.com" onclick="location.href='pro';return false;"> <!--return false :: onClick 이벤트 뒤에 return false 를 해주면 href 이벤트가 작동하지 않는다. -->
        <img src="https://ifh.cc/g/JDenSj.png"/></a>  
    </div>
    <div class="main">
      <img class="mid" id="l" src="https://ifh.cc/g/5ozvDu.png">
      <div class="mid">

        <iframe src="http://localhost:8080/stream" width="600px" height="480px"></iframe>
      </div>
      <img class="mid" id="r" src="https://ifh.cc/g/ilKSBj.png">
    </div>

    <div class="handle">
      <div class="cgear">
        <a class="cgear" href="#" onclick="pic(); return false;"> <!--return false :: onClick 이벤트 뒤에 return false 를 해주면 href 이벤트가 작동하지 않는다. -->
          
          <img src="https://ifh.cc/g/WA00mD.png"/></a> 
        <br>
        <p id='cap' class="cgear">PUSH</p>
      </div>
      <div class="cgear">
        <h1 class="gear" id="p">P</h1>
        <br>
        <h1 class="gear" id="b">R</h1>
        <br>
        <h1 class="gear" id="n">N</h1>
        <br>
        <h1 class="gear" id="d">D</h1>
      </div>
    </div>
    <script>
      var r= document.getElementById('r');
      var l= document.getElementById('l');
      var p=document.getElementById('p');
      var b=document.getElementById('b');
      var n=document.getElementById('n');
      var d=document.getElementById('d');
      setInterval(function gear(){     //기어
          fetch("/gear")                                                    /* 해당 경로 파일을 실행 */
          .then(response=> { console.log(response); return response.text()})
          .then(data=> {
              console.log(data);
              //alert(data);  
              setTimeout(function(){},1000);  
              if(data.indexOf('r') !== -1){
                r.src= 'https://ifh.cc/g/dnwkIV.png';
              }
              if(data.indexOf('l') !== -1){
                l.src= 'https://ifh.cc/g/4qSzCX.png';
              }
              if(data.indexOf('x') !== -1){
                l.src= 'https://ifh.cc/g/5ozvDu.png';
                r.src= 'https://ifh.cc/g/ilKSBj.png';
              }
              if(data.indexOf('d') !== -1){
                d.style.color='red';
                p.style.color='#56606ed2';
                b.style.color='#56606ed2';
                n.style.color='#56606ed2';
              }
              if(data.indexOf('p') !== -1){
                p.style.color='red';
                d.style.color='#56606ed2';
                b.style.color='#56606ed2';
                n.style.color='#56606ed2';
              }
              if(data.indexOf('b') !== -1){
                b.style.color='red';
                p.style.color='#56606ed2';
                d.style.color='#56606ed2';
                n.style.color='#56606ed2';
              }
              if(data.indexOf('n') !== -1){
                n.style.color='red';
                p.style.color='#56606ed2';
                b.style.color='#56606ed2';
                d.style.color='#56606ed2';
              }
              
              
          });
          
        },1000);
        function pic(){                  //순간캡쳐
            fetch("/pic")
            .then(response=> { console.log(response); return response.text()})
            .then(data=> {
                console.log(data);
                let result = document.getElementById('cap');
                
                 if(data=="capture"){                                                 /* "ok" 가 돌아오면 이에 따라 적합한 결과 출력해 줌 */
                 result.innerHTML = "CAPTURE";
                }else{                                                 /* "ok" 가 돌아오면 이에 따라 적합한 결과 출력해 줌 */
                result.innerHTML = "PUSH";
                }
                
            });
        }
      
      
  </script>
</body>
</html>