<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CAR NETWORK</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pro.css') }}"> <!-- css 파일 지정-->
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>CAR IoT</h1>
        </div>
        <div class="main">
            <div class="btn">
                <a href="http://www.naver.com" onclick="lock();return false;"> <!--return false :: onClick 이벤트 뒤에 return false 를 해주면 href 이벤트가 작동하지 않는다. -->
                    <img src="https://ifh.cc/g/EuqAMY.png"/></a> 
            </div>
            <div class="btn">                   <!-- Javascript 함수 지정 -->
                <a href="http://www.naver.com" onclick="unlock();return false;"> <!--return false :: onClick 이벤트 뒤에 return false 를 해주면 href 이벤트가 작동하지 않는다. -->
                    <img src="https://ifh.cc/g/KcP3nz.png"/></a>  
            </div>
            <div class="btn">                   <!-- Javascript 함수 지정 -->
                <a href="http://www.naver.com" onclick="trunk();return false;"> <!--return false :: onClick 이벤트 뒤에 return false 를 해주면 href 이벤트가 작동하지 않는다. -->
                    <img src="https://ifh.cc/g/gNdtZ5.png"/></a>  
            </div>
            <div class="btn">                   <!-- Javascript 함수 지정 -->
                <a href="http://www.naver.com" onclick="location.href='drive'; return false;"> <!--return false :: onClick 이벤트 뒤에 return false 를 해주면 href 이벤트가 작동하지 않는다. -->
                    <img src="https://ifh.cc/g/ImfFGB.png"/></a>  
            </div>
           
        </div>
        <div id='result'>

        </div>
    </div>
    <script>
        function lock(){     //자동차 잠금 
            fetch("/lock")                                                    /* 해당 경로 파일을 실행 */
            .then(response=> { console.log(response); return response.text()})
            .then(data=> {
                console.log(data);
                let result = document.querySelector("#result");     
                let button = document.querySelector("#lockBtn")
                result.innerHTML = "<h1 id='re'>LOCK</h2>";
                
            });
        }
        function unlock(){                  //자동차 열기
            fetch("/unlock")
            .then(response=> { console.log(response); return response.text()})
            .then(data=> {
                console.log(data);
                let result = document.querySelector("#result");
                result.innerHTML = "<h1 id='re'>UNLOCK</h2>";
            });
        }
        function trunk(){                  //트렁크 열기
            fetch("/trunk")
            .then(response=> { console.log(response); return response.text()})
            .then(data=> {
                console.log(data);
                let result = document.querySelector("#result");
                
                 if(data=="trunkopen"){                                                 /* "ok" 가 돌아오면 이에 따라 적합한 결과 출력해 줌 */
                 result.innerHTML = "<h1 id='re'>TRUNK OPEN</h2>";
                }if(data=="trunkclose"){                                                 /* "ok" 가 돌아오면 이에 따라 적합한 결과 출력해 줌 */
                result.innerHTML = "<h1 id='re'TRUNK CLOSE</h2>";
                }
                
            });
        }
    </script>
</body>
</html>